/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.select2-selection__rendered {
    width: 650px !important;
}

.select2-container .select2-selection--single{
	margin-top: 15px;
}